<!DOCTYPE html>
<html>
  <head>
    <meta charset= "utf-8">
    <title>Romazi HENKAN</title>
    <link rel="stylesheet" href="/app/assets/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  </head>
  <body>
    <header>
      <div class="header-left">CHANGE TO ROMAZI.</div>
      <div class="header-right">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-line"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="" class="login">ログイン</a>
      </div>
    </header>
    <div class="top-wrapper">
        <div class="abc"><p>CHANGE</p>
          <p>　　　　TOOLS</p></div>
          <a href="#" class="fas fa-bars"><span>MENU</span></a>
    </div>
  </body>
</html>