<!DOCTYPE html>
<html>
  <head>
    <meta charset= "utf-8">
    <title>Romazi HENKAN</title>
    <link rel="stylesheet" href="/app/assets/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <%= image_tag 'logo.png',class:"main-img"%>
        </div>
        <div class="header-right">
          <a class="login" href="#">ログイン</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>CHANGE TO ROMAZI.</h1>
        <h1>LEARN TO BE ROMAZI</h1>
        <p>平仮名をローマ字に自動変換します。</p>
        <p>小さなお子様の学習に使っていただければ幸いです。</p>
      </div>
      <div class="btn-wrapper">
        <a href="#" class="btn facebook">
          <span class="fab fa-facebook"></span>
          Facebookで共有</a>
        <a href="#" class="btn twitter">
          <span class="fab fa-twitter"></span>
          Twitterで共有</a>
        <a href="#" class="btn line">
          <span class="fab fa-line"></span>
          LINEで共有</a>
        <a href="#" class="btn instagram">
          <span class="fab fa-instagram"></span>
          Instagramで共有</a>
      </div>
    </div>
    <div class="change-wrapper">

    </div>
    <div class="messages-wrapper">

    </div>
    <footer>

    </footer>
</body>
</html>